doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/flot/jquery.flot.js")
    script(src="/components/flot/jquery.flot.time.js")
    script(src="/javascripts/init.js")
    
    block scripts
    